In [13]:
!apt-get update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:2 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:14 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,953 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,390 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,540 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,114 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,162 kB]
Fetched 10.4 MB in 3s (3,185 kB/s)
Reading package lists... Done

In [14]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/nul

In [15]:
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz

In [17]:
!ls

1HFMUbUU56hvaU-6c0PsZ6ogpiatR_R4y  gdrive	spark-3.1.1-bin-hadoop3.2
drive				   sample_data	spark-3.1.1-bin-hadoop3.2.tgz

In [16]:
!tar xf spark-3.1.1-bin-hadoop3.2.tgz

In [18]:
!pip install -q findspark

In [19]:
import os
os.environ["JAVA_HOME"]= "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [20]:
pwd

'/content'

In [21]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("Lab1").getOrCreate()
spark

In [25]:
!wget -p /content/drive/MyDrive/data/insurance.csv

/content/drive/MyDrive/data/insurance.csv: Scheme missing.

In [26]:
!ls

1HFMUbUU56hvaU-6c0PsZ6ogpiatR_R4y    sample_data
1HFMUbUU56hvaU-6c0PsZ6ogpiatR_R4y.1  spark-3.1.1-bin-hadoop3.2
drive				     spark-3.1.1-bin-hadoop3.2.tgz
gdrive

In [31]:
df = spark.read.csv("/content/drive/MyDrive/data/insurance.csv", sep=",", header=True)

In [32]:
df.show(5, truncate = False)

+---+------+------+--------+------+---------+-----------+
|age|sex   |bmi   |children|smoker|region   |charges    |
+---+------+------+--------+------+---------+-----------+
|19 |female|27.9  |0       |yes   |southwest|16884.924  |
|18 |male  |33.77 |1       |no    |southeast|1725.5523  |
|28 |male  |33    |3       |no    |southeast|4449.462   |
|33 |male  |22.705|0       |no    |northwest|21984.47061|
|32 |male  |28.88 |0       |no    |northwest|3866.8552  |
+---+------+------+--------+------+---------+-----------+
only showing top 5 rows

In [33]:
df.columns

['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']

In [34]:
df.dtypes

[('age', 'string'),
 ('sex', 'string'),
 ('bmi', 'string'),
 ('children', 'string'),
 ('smoker', 'string'),
 ('region', 'string'),
 ('charges', 'string')]

In [36]:
from traitlets.traitlets import TraitError
df = spark.read.csv("/content/drive/MyDrive/data/insurance.csv", sep=",",  header=True, inferSchema=True)

In [37]:
df.dtypes

[('age', 'int'),
 ('sex', 'string'),
 ('bmi', 'double'),
 ('children', 'int'),
 ('smoker', 'string'),
 ('region', 'string'),
 ('charges', 'double')]

In [38]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- bmi: double (nullable = true)
 |-- children: integer (nullable = true)
 |-- smoker: string (nullable = true)
 |-- region: string (nullable = true)
 |-- charges: double (nullable = true)

In [43]:
from pyspark.sql.types import *

lables = [
    ('age', IntegerType()),
    ('sex', StringType()),
    ('bmi', DoubleType()),
    ('children', IntegerType()),
    ('smoker', StringType()),
    ('region', StringType()),
    ('charges', DoubleType())
    
]

In [44]:
schema = StructType([StructField(x[0], x[1]) for x in lables])
schema

StructType(List(StructField(age,IntegerType,true),StructField(sex,StringType,true),StructField(bmi,DoubleType,true),StructField(children,IntegerType,true),StructField(smoker,StringType,true),StructField(region,StringType,true),StructField(charges,DoubleType,true)))

In [46]:
df = spark.read.csv("/content/drive/MyDrive/data/insurance.csv", header=True,sep=",",  schema = schema, inferSchema = True)
df.show(5)

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|
+---+------+------+--------+------+---------+-----------+
only showing top 5 rows

In [47]:
df.show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [48]:
df.select(df['age']).show(truncate=False)

+---+
|age|
+---+
|19 |
|18 |
|28 |
|33 |
|32 |
|31 |
|46 |
|37 |
|37 |
|60 |
|25 |
|62 |
|23 |
|56 |
|27 |
|19 |
|52 |
|23 |
|56 |
|30 |
+---+
only showing top 20 rows

In [49]:
df.select(df.age, df.sex, df.bmi).show(truncate=False)

+---+------+------+
|age|sex   |bmi   |
+---+------+------+
|19 |female|27.9  |
|18 |male  |33.77 |
|28 |male  |33.0  |
|33 |male  |22.705|
|32 |male  |28.88 |
|31 |female|25.74 |
|46 |female|33.44 |
|37 |female|27.74 |
|37 |male  |29.83 |
|60 |female|25.84 |
|25 |male  |26.22 |
|62 |female|26.29 |
|23 |male  |34.4  |
|56 |female|39.82 |
|27 |male  |42.13 |
|19 |male  |24.6  |
|52 |female|30.78 |
|23 |male  |23.845|
|56 |male  |40.3  |
|30 |male  |35.3  |
+---+------+------+
only showing top 20 rows

In [50]:
from pyspark.sql.functions import col
df.select(col('age')).show(truncate=False)

+---+
|age|
+---+
|19 |
|18 |
|28 |
|33 |
|32 |
|31 |
|46 |
|37 |
|37 |
|60 |
|25 |
|62 |
|23 |
|56 |
|27 |
|19 |
|52 |
|23 |
|56 |
|30 |
+---+
only showing top 20 rows

In [51]:
df.select(df.age).show(truncate=False)

+---+
|age|
+---+
|19 |
|18 |
|28 |
|33 |
|32 |
|31 |
|46 |
|37 |
|37 |
|60 |
|25 |
|62 |
|23 |
|56 |
|27 |
|19 |
|52 |
|23 |
|56 |
|30 |
+---+
only showing top 20 rows

In [55]:
from pyspark.sql.functions import lit,concat
df=df.withColumn('first_name',lit("new")).withColumn('second_column',concat(col('region'), lit(' '), col('bmi')))
df.show()

+---+------+------+--------+------+---------+-----------+----------+----------------+
|age|   sex|   bmi|children|smoker|   region|    charges|first_name|   second_column|
+---+------+------+--------+------+---------+-----------+----------+----------------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|       new|  southwest 27.9|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|       new| southeast 33.77|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|       new|  southeast 33.0|
| 33|  male|22.705|       0|    no|northwest|21984.47061|       new|northwest 22.705|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|       new| northwest 28.88|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|       new| southeast 25.74|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|       new| southeast 33.44|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|       new| northwest 27.74|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|       new| northeast 29.83|
| 60|female| 25.84|       0|    no|northwest|28923.13692|       new| northwest 25.84|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|       new| northeast 26.22|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|       new| southeast 26.29|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|       new|  southwest 34.4|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|       new| southeast 39.82|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|       new| southeast 42.13|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|       new|  southwest 24.6|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|       new| northeast 30.78|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|       new|northeast 23.845|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|       new|  southwest 40.3|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|       new|  southwest 35.3|
+---+------+------+--------+------+---------+-----------+----------+----------------+
only showing top 20 rows

In [56]:
df=df.withColumnRenamed('second_column','Region||BMI')
df.show()

+---+------+------+--------+------+---------+-----------+----------+----------------+
|age|   sex|   bmi|children|smoker|   region|    charges|first_name|     Region||BMI|
+---+------+------+--------+------+---------+-----------+----------+----------------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|       new|  southwest 27.9|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|       new| southeast 33.77|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|       new|  southeast 33.0|
| 33|  male|22.705|       0|    no|northwest|21984.47061|       new|northwest 22.705|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|       new| northwest 28.88|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|       new| southeast 25.74|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|       new| southeast 33.44|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|       new| northwest 27.74|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|       new| northeast 29.83|
| 60|female| 25.84|       0|    no|northwest|28923.13692|       new| northwest 25.84|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|       new| northeast 26.22|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|       new| southeast 26.29|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|       new|  southwest 34.4|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|       new| southeast 39.82|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|       new| southeast 42.13|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|       new|  southwest 24.6|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|       new| northeast 30.78|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|       new|northeast 23.845|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|       new|  southwest 40.3|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|       new|  southwest 35.3|
+---+------+------+--------+------+---------+-----------+----------+----------------+
only showing top 20 rows

In [57]:
df.collect()

[Row(age=19, sex='female', bmi=27.9, children=0, smoker='yes', region='southwest', charges=16884.924, first_name='new', Region||BMI='southwest 27.9'),
 Row(age=18, sex='male', bmi=33.77, children=1, smoker='no', region='southeast', charges=1725.5523, first_name='new', Region||BMI='southeast 33.77'),
 Row(age=28, sex='male', bmi=33.0, children=3, smoker='no', region='southeast', charges=4449.462, first_name='new', Region||BMI='southeast 33.0'),
 Row(age=33, sex='male', bmi=22.705, children=0, smoker='no', region='northwest', charges=21984.47061, first_name='new', Region||BMI='northwest 22.705'),
 Row(age=32, sex='male', bmi=28.88, children=0, smoker='no', region='northwest', charges=3866.8552, first_name='new', Region||BMI='northwest 28.88'),
 Row(age=31, sex='female', bmi=25.74, children=0, smoker='no', region='southeast', charges=3756.6216, first_name='new', Region||BMI='southeast 25.74'),
 Row(age=46, sex='female', bmi=33.44, children=1, smoker='no', region='southeast', charges=8240.5896, first_name='new', Region||BMI='southeast 33.44'),
 Row(age=37, sex='female', bmi=27.74, children=3, smoker='no', region='northwest', charges=7281.5056, first_name='new', Region||BMI='northwest 27.74'),
 Row(age=37, sex='male', bmi=29.83, children=2, smoker='no', region='northeast', charges=6406.4107, first_name='new', Region||BMI='northeast 29.83'),
 Row(age=60, sex='female', bmi=25.84, children=0, smoker='no', region='northwest', charges=28923.13692, first_name='new', Region||BMI='northwest 25.84'),
 Row(age=25, sex='male', bmi=26.22, children=0, smoker='no', region='northeast', charges=2721.3208, first_name='new', Region||BMI='northeast 26.22'),
 Row(age=62, sex='female', bmi=26.29, children=0, smoker='yes', region='southeast', charges=27808.7251, first_name='new', Region||BMI='southeast 26.29'),
 Row(age=23, sex='male', bmi=34.4, children=0, smoker='no', region='southwest', charges=1826.843, first_name='new', Region||BMI='southwest 34.4'),
 Row(age=56, sex='female', bmi=39.82, children=0, smoker='no', region='southeast', charges=11090.7178, first_name='new', Region||BMI='southeast 39.82'),
 Row(age=27, sex='male', bmi=42.13, children=0, smoker='yes', region='southeast', charges=39611.7577, first_name='new', Region||BMI='southeast 42.13'),
 Row(age=19, sex='male', bmi=24.6, children=1, smoker='no', region='southwest', charges=1837.237, first_name='new', Region||BMI='southwest 24.6'),
 Row(age=52, sex='female', bmi=30.78, children=1, smoker='no', region='northeast', charges=10797.3362, first_name='new', Region||BMI='northeast 30.78'),
 Row(age=23, sex='male', bmi=23.845, children=0, smoker='no', region='northeast', charges=2395.17155, first_name='new', Region||BMI='northeast 23.845'),
 Row(age=56, sex='male', bmi=40.3, children=0, smoker='no', region='southwest', charges=10602.385, first_name='new', Region||BMI='southwest 40.3'),
 Row(age=30, sex='male', bmi=35.3, children=0, smoker='yes', region='southwest', charges=36837.467, first_name='new', Region||BMI='southwest 35.3'),
 Row(age=60, sex='female', bmi=36.005, children=0, smoker='no', region='northeast', charges=13228.84695, first_name='new', Region||BMI='northeast 36.005'),
 Row(age=30, sex='female', bmi=32.4, children=1, smoker='no', region='southwest', charges=4149.736, first_name='new', Region||BMI='southwest 32.4'),
 Row(age=18, sex='male', bmi=34.1, children=0, smoker='no', region='southeast', charges=1137.011, first_name='new', Region||BMI='southeast 34.1'),
 Row(age=34, sex='female', bmi=31.92, children=1, smoker='yes', region='northeast', charges=37701.8768, first_name='new', Region||BMI='northeast 31.92'),
 Row(age=37, sex='male', bmi=28.025, children=2, smoker='no', region='northwest', charges=6203.90175, first_name='new', Region||BMI='northwest 28.025'),
 Row(age=59, sex='female', bmi=27.72, children=3, smoker='no', region='southeast', charges=14001.1338, first_name='new', Region||BMI='southeast 27.72'),
 Row(age=63, sex='female', bmi=23.085, children=0, smoker='no', region='northeast', charges=14451.83515, first_name='new', Region||BMI='northeast 23.085'),
 Row(age=55, sex='female', bmi=32.775, children=2, smoker='no', region='northwest', charges=12268.63225, first_name='new', Region||BMI='northwest 32.775'),
 Row(age=23, sex='male', bmi=17.385, children=1, smoker='no', region='northwest', charges=2775.19215, first_name='new', Region||BMI='northwest 17.385'),
 Row(age=31, sex='male', bmi=36.3, children=2, smoker='yes', region='southwest', charges=38711.0, first_name='new', Region||BMI='southwest 36.3'),
 Row(age=22, sex='male', bmi=35.6, children=0, smoker='yes', region='southwest', charges=35585.576, first_name='new', Region||BMI='southwest 35.6'),
 Row(age=18, sex='female', bmi=26.315, children=0, smoker='no', region='northeast', charges=2198.18985, first_name='new', Region||BMI='northeast 26.315'),
 Row(age=19, sex='female', bmi=28.6, children=5, smoker='no', region='southwest', charges=4687.797, first_name='new', Region||BMI='southwest 28.6'),
 Row(age=63, sex='male', bmi=28.31, children=0, smoker='no', region='northwest', charges=13770.0979, first_name='new', Region||BMI='northwest 28.31'),
 Row(age=28, sex='male', bmi=36.4, children=1, smoker='yes', region='southwest', charges=51194.55914, first_name='new', Region||BMI='southwest 36.4'),
 Row(age=19, sex='male', bmi=20.425, children=0, smoker='no', region='northwest', charges=1625.43375, first_name='new', Region||BMI='northwest 20.425'),
 Row(age=62, sex='female', bmi=32.965, children=3, smoker='no', region='northwest', charges=15612.19335, first_name='new', Region||BMI='northwest 32.965'),
 Row(age=26, sex='male', bmi=20.8, children=0, smoker='no', region='southwest', charges=2302.3, first_name='new', Region||BMI='southwest 20.8'),
 Row(age=35, sex='male', bmi=36.67, children=1, smoker='yes', region='northeast', charges=39774.2763, first_name='new', Region||BMI='northeast 36.67'),
 Row(age=60, sex='male', bmi=39.9, children=0, smoker='yes', region='southwest', charges=48173.361, first_name='new', Region||BMI='southwest 39.9'),
 Row(age=24, sex='female', bmi=26.6, children=0, smoker='no', region='northeast', charges=3046.062, first_name='new', Region||BMI='northeast 26.6'),
 Row(age=31, sex='female', bmi=36.63, children=2, smoker='no', region='southeast', charges=4949.7587, first_name='new', Region||BMI='southeast 36.63'),
 Row(age=41, sex='male', bmi=21.78, children=1, smoker='no', region='southeast', charges=6272.4772, first_name='new', Region||BMI='southeast 21.78'),
 Row(age=37, sex='female', bmi=30.8, children=2, smoker='no', region='southeast', charges=6313.759, first_name='new', Region||BMI='southeast 30.8'),
 Row(age=38, sex='male', bmi=37.05, children=1, smoker='no', region='northeast', charges=6079.6715, first_name='new', Region||BMI='northeast 37.05'),
 Row(age=55, sex='male', bmi=37.3, children=0, smoker='no', region='southwest', charges=20630.28351, first_name='new', Region||BMI='southwest 37.3'),
 Row(age=18, sex='female', bmi=38.665, children=2, smoker='no', region='northeast', charges=3393.35635, first_name='new', Region||BMI='northeast 38.665'),
 Row(age=28, sex='female', bmi=34.77, children=0, smoker='no', region='northwest', charges=3556.9223, first_name='new', Region||BMI='northwest 34.77'),
 Row(age=60, sex='female', bmi=24.53, children=0, smoker='no', region='southeast', charges=12629.8967, first_name='new', Region||BMI='southeast 24.53'),
 Row(age=36, sex='male', bmi=35.2, children=1, smoker='yes', region='southeast', charges=38709.176, first_name='new', Region||BMI='southeast 35.2'),
 Row(age=18, sex='female', bmi=35.625, children=0, smoker='no', region='northeast', charges=2211.13075, first_name='new', Region||BMI='northeast 35.625'),
 Row(age=21, sex='female', bmi=33.63, children=2, smoker='no', region='northwest', charges=3579.8287, first_name='new', Region||BMI='northwest 33.63'),
 Row(age=48, sex='male', bmi=28.0, children=1, smoker='yes', region='southwest', charges=23568.272, first_name='new', Region||BMI='southwest 28.0'),
 Row(age=36, sex='male', bmi=34.43, children=0, smoker='yes', region='southeast', charges=37742.5757, first_name='new', Region||BMI='southeast 34.43'),
 Row(age=40, sex='female', bmi=28.69, children=3, smoker='no', region='northwest', charges=8059.6791, first_name='new', Region||BMI='northwest 28.69'),
 Row(age=58, sex='male', bmi=36.955, children=2, smoker='yes', region='northwest', charges=47496.49445, first_name='new', Region||BMI='northwest 36.955'),
 Row(age=58, sex='female', bmi=31.825, children=2, smoker='no', region='northeast', charges=13607.36875, first_name='new', Region||BMI='northeast 31.825'),
 Row(age=18, sex='male', bmi=31.68, children=2, smoker='yes', region='southeast', charges=34303.1672, first_name='new', Region||BMI='southeast 31.68'),
 Row(age=53, sex='female', bmi=22.88, children=1, smoker='yes', region='southeast', charges=23244.7902, first_name='new', Region||BMI='southeast 22.88'),
 Row(age=34, sex='female', bmi=37.335, children=2, smoker='no', region='northwest', charges=5989.52365, first_name='new', Region||BMI='northwest 37.335'),
 Row(age=43, sex='male', bmi=27.36, children=3, smoker='no', region='northeast', charges=8606.2174, first_name='new', Region||BMI='northeast 27.36'),
 Row(age=25, sex='male', bmi=33.66, children=4, smoker='no', region='southeast', charges=4504.6624, first_name='new', Region||BMI='southeast 33.66'),
 Row(age=64, sex='male', bmi=24.7, children=1, smoker='no', region='northwest', charges=30166.61817, first_name='new', Region||BMI='northwest 24.7'),
 Row(age=28, sex='female', bmi=25.935, children=1, smoker='no', region='northwest', charges=4133.64165, first_name='new', Region||BMI='northwest 25.935'),
 Row(age=20, sex='female', bmi=22.42, children=0, smoker='yes', region='northwest', charges=14711.7438, first_name='new', Region||BMI='northwest 22.42'),
 Row(age=19, sex='female', bmi=28.9, children=0, smoker='no', region='southwest', charges=1743.214, first_name='new', Region||BMI='southwest 28.9'),
 Row(age=61, sex='female', bmi=39.1, children=2, smoker='no', region='southwest', charges=14235.072, first_name='new', Region||BMI='southwest 39.1'),
 Row(age=40, sex='male', bmi=26.315, children=1, smoker='no', region='northwest', charges=6389.37785, first_name='new', Region||BMI='northwest 26.315'),
 Row(age=40, sex='female', bmi=36.19, children=0, smoker='no', region='southeast', charges=5920.1041, first_name='new', Region||BMI='southeast 36.19'),
 Row(age=28, sex='male', bmi=23.98, children=3, smoker='yes', region='southeast', charges=17663.1442, first_name='new', Region||BMI='southeast 23.98'),
 Row(age=27, sex='female', bmi=24.75, children=0, smoker='yes', region='southeast', charges=16577.7795, first_name='new', Region||BMI='southeast 24.75'),
 Row(age=31, sex='male', bmi=28.5, children=5, smoker='no', region='northeast', charges=6799.458, first_name='new', Region||BMI='northeast 28.5'),
 Row(age=53, sex='female', bmi=28.1, children=3, smoker='no', region='southwest', charges=11741.726, first_name='new', Region||BMI='southwest 28.1'),
 Row(age=58, sex='male', bmi=32.01, children=1, smoker='no', region='southeast', charges=11946.6259, first_name='new', Region||BMI='southeast 32.01'),
 Row(age=44, sex='male', bmi=27.4, children=2, smoker='no', region='southwest', charges=7726.854, first_name='new', Region||BMI='southwest 27.4'),
 Row(age=57, sex='male', bmi=34.01, children=0, smoker='no', region='northwest', charges=11356.6609, first_name='new', Region||BMI='northwest 34.01'),
 Row(age=29, sex='female', bmi=29.59, children=1, smoker='no', region='southeast', charges=3947.4131, first_name='new', Region||BMI='southeast 29.59'),
 Row(age=21, sex='male', bmi=35.53, children=0, smoker='no', region='southeast', charges=1532.4697, first_name='new', Region||BMI='southeast 35.53'),
 Row(age=22, sex='female', bmi=39.805, children=0, smoker='no', region='northeast', charges=2755.02095, first_name='new', Region||BMI='northeast 39.805'),
 Row(age=41, sex='female', bmi=32.965, children=0, smoker='no', region='northwest', charges=6571.02435, first_name='new', Region||BMI='northwest 32.965'),
 Row(age=31, sex='male', bmi=26.885, children=1, smoker='no', region='northeast', charges=4441.21315, first_name='new', Region||BMI='northeast 26.885'),
 Row(age=45, sex='female', bmi=38.285, children=0, smoker='no', region='northeast', charges=7935.29115, first_name='new', Region||BMI='northeast 38.285'),
 Row(age=22, sex='male', bmi=37.62, children=1, smoker='yes', region='southeast', charges=37165.1638, first_name='new', Region||BMI='southeast 37.62'),
 Row(age=48, sex='female', bmi=41.23, children=4, smoker='no', region='northwest', charges=11033.6617, first_name='new', Region||BMI='northwest 41.23'),
 Row(age=37, sex='female', bmi=34.8, children=2, smoker='yes', region='southwest', charges=39836.519, first_name='new', Region||BMI='southwest 34.8'),
 Row(age=45, sex='male', bmi=22.895, children=2, smoker='yes', region='northwest', charges=21098.55405, first_name='new', Region||BMI='northwest 22.895'),
 Row(age=57, sex='female', bmi=31.16, children=0, smoker='yes', region='northwest', charges=43578.9394, first_name='new', Region||BMI='northwest 31.16'),
 Row(age=56, sex='female', bmi=27.2, children=0, smoker='no', region='southwest', charges=11073.176, first_name='new', Region||BMI='southwest 27.2'),
 Row(age=46, sex='female', bmi=27.74, children=0, smoker='no', region='northwest', charges=8026.6666, first_name='new', Region||BMI='northwest 27.74'),
 Row(age=55, sex='female', bmi=26.98, children=0, smoker='no', region='northwest', charges=11082.5772, first_name='new', Region||BMI='northwest 26.98'),
 Row(age=21, sex='female', bmi=39.49, children=0, smoker='no', region='southeast', charges=2026.9741, first_name='new', Region||BMI='southeast 39.49'),
 Row(age=53, sex='female', bmi=24.795, children=1, smoker='no', region='northwest', charges=10942.13205, first_name='new', Region||BMI='northwest 24.795'),
 Row(age=59, sex='male', bmi=29.83, children=3, smoker='yes', region='northeast', charges=30184.9367, first_name='new', Region||BMI='northeast 29.83'),
 Row(age=35, sex='male', bmi=34.77, children=2, smoker='no', region='northwest', charges=5729.0053, first_name='new', Region||BMI='northwest 34.77'),
 Row(age=64, sex='female', bmi=31.3, children=2, smoker='yes', region='southwest', charges=47291.055, first_name='new', Region||BMI='southwest 31.3'),
 Row(age=28, sex='female', bmi=37.62, children=1, smoker='no', region='southeast', charges=3766.8838, first_name='new', Region||BMI='southeast 37.62'),
 Row(age=54, sex='female', bmi=30.8, children=3, smoker='no', region='southwest', charges=12105.32, first_name='new', Region||BMI='southwest 30.8'),
 Row(age=55, sex='male', bmi=38.28, children=0, smoker='no', region='southeast', charges=10226.2842, first_name='new', Region||BMI='southeast 38.28'),
 Row(age=56, sex='male', bmi=19.95, children=0, smoker='yes', region='northeast', charges=22412.6485, first_name='new', Region||BMI='northeast 19.95'),
 Row(age=38, sex='male', bmi=19.3, children=0, smoker='yes', region='southwest', charges=15820.699, first_name='new', Region||BMI='southwest 19.3'),
 Row(age=41, sex='female', bmi=31.6, children=0, smoker='no', region='southwest', charges=6186.127, first_name='new', Region||BMI='southwest 31.6'),
 Row(age=30, sex='male', bmi=25.46, children=0, smoker='no', region='northeast', charges=3645.0894, first_name='new', Region||BMI='northeast 25.46'),
 Row(age=18, sex='female', bmi=30.115, children=0, smoker='no', region='northeast', charges=21344.8467, first_name='new', Region||BMI='northeast 30.115'),
 Row(age=61, sex='female', bmi=29.92, children=3, smoker='yes', region='southeast', charges=30942.1918, first_name='new', Region||BMI='southeast 29.92'),
 Row(age=34, sex='female', bmi=27.5, children=1, smoker='no', region='southwest', charges=5003.853, first_name='new', Region||BMI='southwest 27.5'),
 Row(age=20, sex='male', bmi=28.025, children=1, smoker='yes', region='northwest', charges=17560.37975, first_name='new', Region||BMI='northwest 28.025'),
 Row(age=19, sex='female', bmi=28.4, children=1, smoker='no', region='southwest', charges=2331.519, first_name='new', Region||BMI='southwest 28.4'),
 Row(age=26, sex='male', bmi=30.875, children=2, smoker='no', region='northwest', charges=3877.30425, first_name='new', Region||BMI='northwest 30.875'),
 Row(age=29, sex='male', bmi=27.94, children=0, smoker='no', region='southeast', charges=2867.1196, first_name='new', Region||BMI='southeast 27.94'),
 Row(age=63, sex='male', bmi=35.09, children=0, smoker='yes', region='southeast', charges=47055.5321, first_name='new', Region||BMI='southeast 35.09'),
 Row(age=54, sex='male', bmi=33.63, children=1, smoker='no', region='northwest', charges=10825.2537, first_name='new', Region||BMI='northwest 33.63'),
 Row(age=55, sex='female', bmi=29.7, children=2, smoker='no', region='southwest', charges=11881.358, first_name='new', Region||BMI='southwest 29.7'),
 Row(age=37, sex='male', bmi=30.8, children=0, smoker='no', region='southwest', charges=4646.759, first_name='new', Region||BMI='southwest 30.8'),
 Row(age=21, sex='female', bmi=35.72, children=0, smoker='no', region='northwest', charges=2404.7338, first_name='new', Region||BMI='northwest 35.72'),
 Row(age=52, sex='male', bmi=32.205, children=3, smoker='no', region='northeast', charges=11488.31695, first_name='new', Region||BMI='northeast 32.205'),
 Row(age=60, sex='male', bmi=28.595, children=0, smoker='no', region='northeast', charges=30259.99556, first_name='new', Region||BMI='northeast 28.595'),
 Row(age=58, sex='male', bmi=49.06, children=0, smoker='no', region='southeast', charges=11381.3254, first_name='new', Region||BMI='southeast 49.06'),
 Row(age=29, sex='female', bmi=27.94, children=1, smoker='yes', region='southeast', charges=19107.7796, first_name='new', Region||BMI='southeast 27.94'),
 Row(age=49, sex='female', bmi=27.17, children=0, smoker='no', region='southeast', charges=8601.3293, first_name='new', Region||BMI='southeast 27.17'),
 Row(age=37, sex='female', bmi=23.37, children=2, smoker='no', region='northwest', charges=6686.4313, first_name='new', Region||BMI='northwest 23.37'),
 Row(age=44, sex='male', bmi=37.1, children=2, smoker='no', region='southwest', charges=7740.337, first_name='new', Region||BMI='southwest 37.1'),
 Row(age=18, sex='male', bmi=23.75, children=0, smoker='no', region='northeast', charges=1705.6245, first_name='new', Region||BMI='northeast 23.75'),
 Row(age=20, sex='female', bmi=28.975, children=0, smoker='no', region='northwest', charges=2257.47525, first_name='new', Region||BMI='northwest 28.975'),
 Row(age=44, sex='male', bmi=31.35, children=1, smoker='yes', region='northeast', charges=39556.4945, first_name='new', Region||BMI='northeast 31.35'),
 Row(age=47, sex='female', bmi=33.915, children=3, smoker='no', region='northwest', charges=10115.00885, first_name='new', Region||BMI='northwest 33.915'),
 Row(age=26, sex='female', bmi=28.785, children=0, smoker='no', region='northeast', charges=3385.39915, first_name='new', Region||BMI='northeast 28.785'),
 Row(age=19, sex='female', bmi=28.3, children=0, smoker='yes', region='southwest', charges=17081.08, first_name='new', Region||BMI='southwest 28.3'),
 Row(age=52, sex='female', bmi=37.4, children=0, smoker='no', region='southwest', charges=9634.538, first_name='new', Region||BMI='southwest 37.4'),
 Row(age=32, sex='female', bmi=17.765, children=2, smoker='yes', region='northwest', charges=32734.1863, first_name='new', Region||BMI='northwest 17.765'),
 Row(age=38, sex='male', bmi=34.7, children=2, smoker='no', region='southwest', charges=6082.405, first_name='new', Region||BMI='southwest 34.7'),
 Row(age=59, sex='female', bmi=26.505, children=0, smoker='no', region='northeast', charges=12815.44495, first_name='new', Region||BMI='northeast 26.505'),

In [58]:
df.groupBy('region').count().show()

+---------+-----+
|   region|count|
+---------+-----+
|northwest|  325|
|southeast|  364|
|northeast|  324|
|southwest|  325|
+---------+-----+

In [59]:
df.show()

+---+------+------+--------+------+---------+-----------+----------+----------------+
|age|   sex|   bmi|children|smoker|   region|    charges|first_name|     Region||BMI|
+---+------+------+--------+------+---------+-----------+----------+----------------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|       new|  southwest 27.9|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|       new| southeast 33.77|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|       new|  southeast 33.0|
| 33|  male|22.705|       0|    no|northwest|21984.47061|       new|northwest 22.705|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|       new| northwest 28.88|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|       new| southeast 25.74|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|       new| southeast 33.44|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|       new| northwest 27.74|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|       new| northeast 29.83|
| 60|female| 25.84|       0|    no|northwest|28923.13692|       new| northwest 25.84|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|       new| northeast 26.22|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|       new| southeast 26.29|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|       new|  southwest 34.4|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|       new| southeast 39.82|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|       new| southeast 42.13|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|       new|  southwest 24.6|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|       new| northeast 30.78|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|       new|northeast 23.845|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|       new|  southwest 40.3|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|       new|  southwest 35.3|
+---+------+------+--------+------+---------+-----------+----------+----------------+
only showing top 20 rows

In [60]:
df.groupBy('region','smoker').count().show()

+---------+------+-----+
|   region|smoker|count|
+---------+------+-----+
|northeast|   yes|   67|
|southeast|    no|  273|
|southwest|    no|  267|
|southwest|   yes|   58|
|northwest|    no|  267|
|northeast|    no|  257|
|northwest|   yes|   58|
|southeast|   yes|   91|
+---------+------+-----+

In [61]:
df.drop('first_name').show()

+---+------+------+--------+------+---------+-----------+----------------+
|age|   sex|   bmi|children|smoker|   region|    charges|     Region||BMI|
+---+------+------+--------+------+---------+-----------+----------------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|  southwest 27.9|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523| southeast 33.77|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|  southeast 33.0|
| 33|  male|22.705|       0|    no|northwest|21984.47061|northwest 22.705|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552| northwest 28.88|
| 31|female| 25.74|       0|    no|southeast|  3756.6216| southeast 25.74|
| 46|female| 33.44|       1|    no|southeast|  8240.5896| southeast 33.44|
| 37|female| 27.74|       3|    no|northwest|  7281.5056| northwest 27.74|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107| northeast 29.83|
| 60|female| 25.84|       0|    no|northwest|28923.13692| northwest 25.84|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208| northeast 26.22|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251| southeast 26.29|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|  southwest 34.4|
| 56|female| 39.82|       0|    no|southeast| 11090.7178| southeast 39.82|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577| southeast 42.13|
| 19|  male|  24.6|       1|    no|southwest|   1837.237|  southwest 24.6|
| 52|female| 30.78|       1|    no|northeast| 10797.3362| northeast 30.78|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|northeast 23.845|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|  southwest 40.3|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|  southwest 35.3|
+---+------+------+--------+------+---------+-----------+----------------+
only showing top 20 rows

In [62]:
total_count=df.count()
print("Total Count: " + str(total_count))

_count = df.filter((col('region')=='southwest') & (col('children') ==3)).count()
print("sountwest Count: " + str(_count))

df.filter((col('region')=='southwest') & (col('children')==3 )).show()

Total Count: 1338
sountwest Count: 37
+---+------+----+--------+------+---------+-----------+----------+--------------+
|age|   sex| bmi|children|smoker|   region|    charges|first_name|   Region||BMI|
+---+------+----+--------+------+---------+-----------+----------+--------------+
| 53|female|28.1|       3|    no|southwest|  11741.726|       new|southwest 28.1|
| 54|female|30.8|       3|    no|southwest|   12105.32|       new|southwest 30.8|
| 30|female|30.9|       3|    no|southwest|   5325.651|       new|southwest 30.9|
| 32|  male|30.8|       3|    no|southwest|   5253.524|       new|southwest 30.8|
| 40|  male|35.3|       3|    no|southwest|   7196.867|       new|southwest 35.3|
| 27|  male|30.3|       3|    no|southwest|   4260.744|       new|southwest 30.3|
| 25|  male|26.8|       3|    no|southwest|   3906.127|       new|southwest 26.8|
| 43|female|34.4|       3|    no|southwest|   8522.003|       new|southwest 34.4|
| 35|  male|28.9|       3|    no|southwest|   5926.846|       new|southwest 28.9|
| 54|  male|25.1|       3|   yes|southwest|  25382.297|       new|southwest 25.1|
| 48|  male|34.3|       3|    no|southwest|   9563.029|       new|southwest 34.3|
| 33|female|38.9|       3|    no|southwest|   5972.378|       new|southwest 38.9|
| 34|female|38.0|       3|    no|southwest|   6196.448|       new|southwest 38.0|
| 56|  male|36.1|       3|    no|southwest|  12363.547|       new|southwest 36.1|
| 53|  male|36.6|       3|    no|southwest|  11264.541|       new|southwest 36.6|
| 24|female|30.1|       3|    no|southwest|   4234.927|       new|southwest 30.1|
| 59|female|32.1|       3|    no|southwest|  14007.222|       new|southwest 32.1|
| 61|  male|36.1|       3|    no|southwest|27941.28758|       new|southwest 36.1|
| 30|  male|24.4|       3|   yes|southwest|  18259.216|       new|southwest 24.4|
| 35|female|27.7|       3|    no|southwest|   6414.178|       new|southwest 27.7|
+---+------+----+--------+------+---------+-----------+----------+--------------+
only showing top 20 rows

In [63]:
df.select('region').distinct().show()

+---------+
|   region|
+---------+
|northwest|
|southeast|
|northeast|
|southwest|
+---------+

In [64]:
df.select('region','age').distinct().show()

+---------+---+
|   region|age|
+---------+---+
|southeast| 26|
|southwest| 28|
|southeast| 55|
|southeast| 58|
|northeast| 38|
|southeast| 21|
|southeast| 46|
|southeast| 49|
|southwest| 44|
|southwest| 40|
|northeast| 18|
|northeast| 61|
|northwest| 59|
|southwest| 22|
|southwest| 56|
|southwest| 46|
|northwest| 36|
|southwest| 60|
|southeast| 57|
|southwest| 48|
+---------+---+
only showing top 20 rows

In [65]:
df.orderBy('age', ascending = False).show()

+---+------+------+--------+------+---------+-----------+----------+----------------+
|age|   sex|   bmi|children|smoker|   region|    charges|first_name|     Region||BMI|
+---+------+------+--------+------+---------+-----------+----------+----------------+
| 64|  male|  24.7|       1|    no|northwest|30166.61817|       new|  northwest 24.7|
| 64|female|  31.3|       2|   yes|southwest|  47291.055|       new|  southwest 31.3|
| 64|female| 39.33|       0|    no|northeast| 14901.5167|       new| northeast 39.33|
| 64|female|  33.8|       1|   yes|southwest|   47928.03|       new|  southwest 33.8|
| 64|  male|  34.5|       0|    no|southwest|  13822.803|       new|  southwest 34.5|
| 64|female|30.115|       3|    no|northwest|16455.70785|       new|northwest 30.115|
| 64|  male|  25.6|       2|    no|southwest|  14988.432|       new|  southwest 25.6|
| 64|female|32.965|       0|    no|northwest|14692.66935|       new|northwest 32.965|
| 64|  male| 39.16|       1|    no|southeast| 14418.2804|       new| southeast 39.16|
| 64|  male| 33.88|       0|   yes|southeast| 46889.2612|       new| southeast 33.88|
| 64|  male| 40.48|       0|    no|southeast| 13831.1152|       new| southeast 40.48|
| 64|female| 39.05|       3|    no|southeast| 16085.1275|       new| southeast 39.05|
| 64|  male| 38.19|       0|    no|northeast| 14410.9321|       new| northeast 38.19|
| 64|female| 22.99|       0|   yes|southeast| 27037.9141|       new| southeast 22.99|
| 64|  male|37.905|       0|    no|northwest|14210.53595|       new|northwest 37.905|
| 64|female|  39.7|       0|    no|southwest|  14319.031|       new|  southwest 39.7|
| 64|female| 35.97|       0|    no|southeast| 14313.8463|       new| southeast 35.97|
| 64|female|31.825|       2|    no|northeast|16069.08475|       new|northeast 31.825|
| 64|female|26.885|       0|   yes|northwest|29330.98315|       new|northwest 26.885|
| 64|  male| 26.41|       0|    no|northeast| 14394.5579|       new| northeast 26.41|
+---+------+------+--------+------+---------+-----------+----------+----------------+
only showing top 20 rows

In [67]:
df.groupBy('sex').count().orderBy('sex', ascending = False).show()

+------+-----+
|   sex|count|
+------+-----+
|  male|  676|
|female|  662|
+------+-----+

In [68]:
df1=spark.createDataFrame([[1,2,3,5]], ['c0','c1','c2','c4'])
df2=spark.createDataFrame([[5,9,3,0]], ['c0','c1','c2','c4'])
df1.union(df2).show()

+---+---+---+---+
| c0| c1| c2| c4|
+---+---+---+---+
|  1|  2|  3|  5|
|  5|  9|  3|  0|
+---+---+---+---+

In [69]:
df1 = spark.createDataFrame([[1,2,3]],['c0','c1','c2'])
df2 = spark.createDataFrame([[4,5,6]],['c0','c1','c2'])
df2.unionByName(df1).show()

+---+---+---+
| c0| c1| c2|
+---+---+---+
|  4|  5|  6|
|  1|  2|  3|
+---+---+---+